name: Build & Test

on: [push]

jobs:
  test:
    name: Build & Test
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.19.x, 1.20.x, 1.21.x, 1.22.x, 1.23.x, 1.24.x, 1.25.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build
        run: |
          go env -w GOFLAGS=-mod=mod
          go build -v ./...

      - name: Extract test data
        run: |
          cd test
          7z x "*.7z" -pinfected

      - name: Test With Coverage
        run: go test -race -coverprofile=coverage -covermode=atomic

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage
        if: matrix.os == 'windows-latest' && matrix.go-version == '1.23.x'

      - name: Go vet
        run: |
          go vet .
        if: matrix.os == 'windows-latest' && matrix.go-version == '1.23.x'

      - name: Staticcheck
        uses: dominikh/staticcheck-action@v1.3.1
        with:
          version: "2024.1"
          install-go: false
          cache-key: ${{ matrix.go }}
        if: matrix.os == 'windows-latest' && matrix.go-version == '1.23.x'
